<section id="my-projects">

    <div class="flex-row">
      <h2>Projects</h2>
    </div>

    <div class="projects">

      <article class="project">
        <a href="https://pethub-20161.herokuapp.com/">
        <img src="assets/images/PetHub.PNG" alt="PetHub"/>
        </a>
        <div class="project-name">
          <h3>PetHub</h3>
        </div>
      </article>
    
    <article class="project">
      <a href="https://magiksadie.github.io/FOMOvie/">
      <img src="assets/images/FOMOvieScreenshot.PNG" alt="FOMOvie"/>
      </a>
      <div class="project-name">
        <h3>FOMOvie</h3>
      </div>
    </article>

      <article class="project">
        <a href="https://erock42.github.io/run-buddy/">
        <img src="assets/images/Run-Buddy.png" alt="Run-Buddy-Website"/>
        </a>
        <div class="project-name">
          <h3>Run Buddy</h3>
        </div>
      </article>

    <article class="project">
      <a href="https://erock42.github.io/UMN-Bootcamp-Challenge-1/">
      <img src="assets/images/UMN-Challenge-1.PNG" alt="Horiseon-website" />
      </a>
      <div class="project-name">
        <h3>Horiseon</h3>
      </div>
    </article>

  </section>