<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <title>Eric Kemerer Portfolio</title>
</head>

<body>
    <header>
      <h1>Eric <br> Kemerer <br> Portfolio</h1>
      <br>
        <div id="eric-avatar" class="eric-avatar">
          <img src="assets\images\Eric-Avatar.png" alt="Eric-Kemerer-Avatar">
        </div>
      <br>
        <nav>
            <ul>
                <li>
                    <a href="#about-me">About Me</a>
                </li>
                <li>
                    <a href="#my-projects">My Projects</a>
                </li>
                <li>
                    <a href="#contact-info">Contact Info</a>
                </li>
            </ul>
        </nav>
    </header>
